= form_tag sessions_path, class: 'sign_in' do
  %h1 Sign in
  .field
    = label_tag :email, "Email Address"
    .row
      .col-sm-4
        = email_field_tag :email
    = label_tag :password
    .row
      .col-sm-4
        = password_field_tag :password
  %br
  .field
    %input(type="submit" value="Sign in" class="btn btn-default")
    = link_to "Forgot Password?"