%h1 Editing movie
= form_for @movie, html: { multipart: true } do |f|
  - if @movie.errors.any?
    #error_explanation
      %ul
        - @movie.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br
      = f.text_field :title
  .field
    = f.label :year
    %br
      = f.number_field :year
  .field
    = f.label :description
    %br
      = f.text_area :plot
  .field
    = f.label :image
    %br
      = f.file_field :image
  %fieldset.form-group.action
    %input(type="submit" value="Update" class="btn btn-default")
= link_to 'Back', movies_path