<h1>Listing movies</h1>

<table>
  <thead>
    <tr>
      <th width="30%">Title</th>
      <th width="20%">Year</th>
      <th width="40%">Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.plot %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div>
  <%= link_to "Add Movie", new_movie_path, class: 'btn btn-primary' %>
</div>
